<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rollDice</title>
</head>
<body>
    <h2>The Dice gives number: 
   <%= diceNum %>
    </h2>
  <% if(diceNum == 6){ %>
      <h1>Nice! Roll the Dice again</h1>
   <%  }   %>
</body>
</html>